.Admin {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.AdminNav {
  width: 100%;
  /* height: 80px; */

  /* border-radius: 12px; */
  display: flex;
  justify-content: center;
}

a {
  color: white;

  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.AdminNav a {
  width: 260px;
  height: 50px;
  top: 2px;
  background: #eb7623ff;

  /* background-color: rgb(234, 185, 39); */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
