@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.App {
  text-align: center;
}

a {
  color: #e4dddd;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

/* /Resize the wrap to see the search bar change!/ */

.products {
  width: 100%;
}
.productsNav {
  width: 100%;

  display: flex;
  justify-content: center;
}

.listOfProducts {
  padding-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 3px;
  background: url(./sikkim2.jpg);
}

.productsList {
  display: inline-block;
  margin-bottom: 3px;
}

.productDisplay {
  width: 900px;
  height: 200px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2px;
}
* {
  padding-top: 0;
  margin-top: 0;
}

.products a:focus {
  background-color: #0099cc;
}

.colu {
  float: left;
  width: 80%;
  padding: 0 10px;
  height: 20px;
  align-items: center;
}

.productsNav a {
  width: 260px;
  height: 50px;
  top: 2px;
  background: #33b5e5;
  font-size: 2vw;
  /* background-color: rgb(234, 185, 39); */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4dddd;
}

.card {
  max-width: 80vw !important;
}

.card-header .button {
  align-items: right;
}

h {
  text-decoration: underline;
}
.card {
  display: flexbox;
  text-align: left;
  padding: 10px;
  max-width: 80vw !important;
}
